@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow($shadow) {
    box-shadow: $shadow;
}

@mixin gradient-btn {
    background: linear-gradient(to bottom right, $color-primary, $color-secondary);
    color: $color-white;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    @include box-shadow($shadow-btn);
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}